@model EditProductsViewModel



@if (Model.SelectedProduct != null)
{

	<form method="post" asp-action="EditProductInformation" asp-controller="Products">
		<div class="mb-4 mt-4">



			<div class="mb-4 mt-4">
				@Html.LabelFor(m => m.SelectedProduct.Name, "Name", new { @class = "body-sm-bold mb-2" })
				@Html.TextBoxFor(m => m.SelectedProduct.Name, new { @class = "form-control textbox", maxlength = "50", autocomplete = "off" })
				<span asp-validation-for="SelectedProduct.Name" class="text-danger"></span>
			</div>
		


		</div>



		<div class="mb-4 mt-4">
		@Html.LabelFor(m => m.SelectedProduct.Category.Name, "Category", new { @class = "body-sm-bold mb-2" })

		<select asp-for="@Model.SelectedProduct.Category.Name" class="form-select">

			@foreach (var category in Model.Categories)
			{


				<option value=@category.Name>@category.Name</option>

			}

		</select>
		<span asp-validation-for="@Model.SelectedProduct.Category.Name" class="text-danger"></span>

		</div>

		<div class="mb-4 mt-4">

			@Html.LabelFor(m => m.SelectedProduct.Price, "Price :", new { @class = "body-sm-bold mb-2" })
			@Html.TextBoxFor(m => m.SelectedProduct.Price, new { @class = "form-control textbox", autocomplete = "off" })
			<span asp-validation-for="@Model.SelectedProduct.Price" class="text-danger"></span>
		</div>

		<div class="mb-4 mt-4">

			@Html.LabelFor(m => m.SelectedProduct.InStock, "In Stock ?", new { @class = "body-sm-bold mb-2" })
			<select asp-for="@Model.SelectedProduct.InStock" class="form-select">



				<option value="@true">yes</option>
				<option value="@false">No</option>


			</select>
			<span asp-validation-for="@Model.SelectedProduct.InStock" class="text-danger"></span>
		</div>

		<div class="mb-4 mt-4">

			@Html.LabelFor(m => m.SelectedProduct.ImageUrl, "Insert Image URl", new { @class = "body-sm-bold mb-2" })
			@Html.TextBoxFor(m => m.SelectedProduct.ImageUrl, new { @class = "form-control textbox", autocomplete = "off" })
			<span asp-validation-for="@Model.SelectedProduct.ImageUrl" class="text-danger"></span>

		</div>



		<!-- Submit form buttons -->


		<div class=" d-flex align-items-center justify-content-center gap-3">

			<button id="Submit-btn" type="submit" class="bg-light">
				Save
			</button>


		


		</div>
	</form>
}

